
.col-5 {width: 
    50%; 
    text-align: center;
    height: 100%;
}
.col-6 {
    width: 50%; 
    height: 50px; 
    margin-left: 25%; 
    display: flex;
    margin-bottom: 1em;
}
.col-8 {
    width: 66.66%; 
    height: 100px; 
    margin-left: 16.66%;
    display: flex;
}
.col-4{
    width: 33%;
}

[class*="col-"] {
    float: left;
  }
  .col-br{
    width: 33%;
    border-bottom:3px solid rgb(5, 209, 245) ;
    border-right: 3px solid rgb(5, 209, 245); 
  }
  .col-b{
    width: 33%;
    border-bottom:3px solid rgb(5, 209, 245) ;
  }
  .col-r{
    width: 33%;
    border-right:3px solid rgb(5, 209, 245) ;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  body{
    justify-items: center;
    background-image: url('./images/background-phone.png');
  }
  @media only screen and (min-width: 768px) {
    body{background-image: url('./images/background.png');}
    .col-8{width: 33%; margin-left:33% ;}
  }