
.col-5 {width: 
    50%; 
    text-align: center;
    height: 100%;
}
.col-6 {
    width: 50%; 
    height: 50px; 
    margin-left: 25%; 
    display: flex;
    margin-bottom: 1em;
}
.col-8 {
    width: 66.66%; 
    height: 100px; 
    margin-left: 16.66%;
    display: flex;
}
.col-4{
    width: 33%;
}

[class*="col-"] {
    float: left;
  }
  .col-br{
    width: 33%;
   
    border-bottom:8px inset rgb(3, 85, 110) ;
    border-right: 8px solid rgb(3, 85, 110);
    
  }
  .col-b{
    width: 33%;
    border-bottom:8px solid rgb(3, 85, 110)  ;
  }
  .col-r{
    width: 33%;
    border-right:8px solid rgb(3, 85, 110)  ;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  } .my-h1{
    font-size: 2px;
  }
  .mrs{
    width: 75px;
    height: 75px;
  }
  body{
    justify-items: center;
    background-image: url('./images/phone.png');
  }
  @media only screen and (min-width: 768px) {
    body{background-image: url('./images/background.png');}
    .col-8{width: 33%; margin-left:38% ;}
    .mrs{
      width: 100px;
      height: 100px;
    }
  }
 